<% if @product.downloadables.visible.present? %>
  <strong><%=t 'downloads' %>:</strong>
  <ul>
    <% @product.downloadables.visible.each do |downloadable| %>
      <li>
      	<% if downloadable.password_protected? %>
          <%= link_to downloadable.title, '#', onclick: "$('#password_protected_download#{downloadable.id}').modal('show');" %>
          <%= render 'password_modal', downloadable: downloadable %>
        <% else %>
          <%= link_to downloadable.title, spree.downloadable_path(downloadable), {:target => '_blank'} %>
        <% end %>
      </li>
    <% end -%>
  </ul>
<% end -%>


